# Template for fixing wrong dict() parameter usage
# The following variables will be replaced:
# - {{ dict_method }}: The dict method being called

# Original code (with error):
# {{ object }}.{{ dict_method }}()

# Fixed code:
{{ object }}.{{ dict_method }}(exclude_unset=True)